:root {
  --mainColor: #210343;;
  --secoundaryColor: #7c40ff;
  --purple: #9f19d7;

  --black: #1c1c1c;
  --white: #fff;

  --pink: #ca278c;
  --red: #aa0114;

  --mainText: #1c1c1c;
  --secoundaryText: #464648;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Ultra", serif;
  font-weight: 500;
}


/******************************
navbar section
*************************************/
navbar {

  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  min-height: 8vh;
  width: 100%;
  position: fixed;
  top: 0px;

  box-shadow: #1c1c1c 1px 1px 4px;
  z-index: 2;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-menu li{
  list-style: none;
}

/******************************8
Header / Hero section
*************************************/
header {

  background-image: url('../images/milad-fakurian-Oi_oaJk3qlo-unsplash.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

 
}

header .intro {
  padding-left: 6rem;
  padding-bottom: 20px;
  color: var(--white);
 
}
header .intro h1, header .intro h2{
  color: var(--white);
  font-weight: normal;
}

section:nth-child(even){
  background: rgb(33,3,67);
  background: linear-gradient(137deg, rgba(33,3,67,1) 36%, rgba(77,24,137,1) 100%);

  color: var(--white);
}
section:nth-child(odd){
  background-color: #fff;
  color: var(--mainText);
}



section .section-head {
  letter-spacing: 0.1em;
  font-weight: 400;
  padding-top: 3rem;
}


section {
  text-align: center;
  position: relative;
}
section.section {
  /*min-height: 100vh;*/
  padding: 3rem 6rem 5rem 6rem;
}
section h2.section-head {
  position: relative;
  padding-bottom: 10px;

  display: inline-block;
}
section h2.section-head::after {
  position: absolute;
  content: " ";
  height: 3px;
  width: 80px;
  margin-top: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--mainColor);
}

/******************************8
About section
*************************************/
#about{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  
}

#about .skillslist{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
#about .skillslist li{
  margin-top: 10px;
  padding: 5px 10px;
  background-color: var(--secoundaryColor);
  border-radius: 5px;
  border: var(--black);
  color: var(--white);

  list-style: none;
}



.project-block {
  position: relative;
}
.project-block .pink-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--purple);
  z-index: 4;
  display: none;
}
.project-block:hover .pink-overlay {
  display: block;
}
.project-block .pink-overlay .text {
  padding-top: 30%;
}

/******************************8
Contact section
*************************************/

#contact {
  display: grid;
  align-items: center;
  color: var(--black);
  row-gap: 1.5rem;
  flex-direction: column;
}

#contact p {
  text-align: center;
}


#contact .social-link {
  color: #000;
  padding: 20px;
}
#contact .contactformdiv {
  width: 60vw;
  height: 400px;
  justify-self: center;
  display: flex;
  column-gap: 1.5rem;
  border: 1px solid #c1c1c1;
  border-radius: 15px;
  box-shadow: 4px 3px 6px #c1c1c1, 0px 4px 6px #c1c1c1;
}

.contactformdiv img {
  max-width: 20vw;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.contactformdiv .formdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactformdiv form {
  text-align: left;
  width: 40vw;
}

.contactformdiv form input,
.contactformdiv form textarea {
  width: 80%;
}

.contactformdiv form .btn {
  border-color: var(--mainColor);
  color: var(--white);
  background-color: var(--mainColor);
}

.contactformdiv form .btn:hover {
  border-color: var(--mainColor);
  color: var(--mainText);
  background-color: var(--secoundaryColor);
}

.contactformdiv form .btn:focus {
  box-shadow: none;
}
.email-err,
.name-err,
.message-err {
  display: none;
  color: rgb(255, 82, 82);
}

.success-message {
  display: none;
  color: rgb(52, 185, 52);
}
input.invalid {
  border: 1px solid var(--red);
}

#contact .address ul {
  display: flex;
  justify-content: center;
}
#contact .address ul li{
list-style: none;
}

.social-link i:hover {
  color: var(--red);
}

footer {
  text-align: center;
  padding: 20px 5px;

  background: rgb(33,3,67);
  background: linear-gradient(137deg, rgba(33,3,67,1) 36%, rgba(77,24,137,1) 100%);
}
