:root{
    --mainColor: #1c1c1c;
    --secoundaryColor: #fff;

    --pink: #ca278c;
    --red: #aa0114;

    --mainText: #1c1c1c;
    --secoundaryText: #464648;    
}



h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Ultra', serif;
    font-weight: 500;
}

section .section-head{
    letter-spacing: 0.1em;
    font-weight: 400;
}

.section1{background-color: var(--secoundaryColor);}
section {
    text-align: center;
    position:relative;
}
section.section{
    min-height: 100vh;
    padding: 15px 5px;
}
section h2.section-head{
    position: relative;
    padding-bottom: 10px;
   
    display: inline-block;
}
section h2.section-head::after{
    position: absolute;
    content:' ';
    height: 3px;
    width:80px;
    margin-top: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--red);
    
}

#skills{

}
.project-block {
    position: relative;
}
.project-block .pink-overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 38, 139,0.8);
    z-index:4;
    display: none;
}
.project-block:hover .pink-overlay{
    display: block;
}
.project-block .pink-overlay .text{
    padding-top: 30%;
}


footer{
    text-align: center;
    padding: 20px 5px;
}
