* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Lato", sans-serif;
}
a,
a:hover,
a:active {
  text-decoration: none;
}

h1{
 /* font-size: 3.5em;*/
}

h2{
  /*font-size: 2.5em;*/
font-weight: 800;}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  min-height: 8vh;

  width: 100%;
  position: fixed;
  top: 0px;

  z-index: 2;
}

/*

nav .nav-header{
    color: var(--mainText);
}
nav .nav-header:hover{
    animation-name: animateColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes animateColor {
    0%{color: var(--mainText);}
    25%{color: var(--red);}
    50%{color: var(--pink);}
    75%{color: var(--mainColor);}
    100%{color: var(--secoundaryColor);}
    
}

*/
.logo {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
}
.nav-menu {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
/*.nav-menu a */
.nav-item {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 14px;
}

/*.nav-menu a:hover*/
.nav-item:hover {
  animation: colorChange 3s ease-in-out;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  color: #000;
  transition: all 0.3s ease;
}
@keyframes colorChange {
  0% {
    color: #000;
  }

  50% {
    color: #ddd;
  }

  100% {
    color: #fff;
  }
}

section,
footer {
  padding: 40px 20px;
}
footer {
  background-color: #181818;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1024) {
  .nav-menu {
    width: 60%;
  }
}
@media screen and (max-width: 760) {
  body {
    overflow-x: hidden;
  }
  .nav-menu {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-menu li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  display: none;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
